<!doctype html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
<script src="app/eggly-app.start.js"></script>
<meta charset="UTF-8">
<title>Eggly</title>
</head>
<body ng-app="Eggly">

<div ng-controller="MainCtrl">
	<div>
		<a href="#"><h1>Eggly</h1></a>
		<ul>
			<li ng-repeat="category in categories">
				<a href="#" ng-click="setCurrentCategory(category)">{{category.name}}</a>
			</li>
		</ul>
	</div>
	<hr/>
	<div>
		<div ng-repeat="bookmark in bookmarks | filter:{category:currentCategory.name} ">
			<button type="button"><span>Edit</span></button>
			<a href="{{bookmark.url}}" target="_blank">{{bookmark.title}}</a>
			<button type="button">&times;</button>
		</div>
	</div>
</div>

</body>